DATABASE_URL="postgresql://user:password@localhost:5432/finance_dashboard"
JWT_SECRET="your-secret-key"
JWT_EXPIRES_IN="7d"
PORT=3000
NODE_ENV=development

it's example file of env structure it does not contains the keys
